/* Global */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro 55 Roman";
  src: url("fonts/NHaasGroteskDSPro-55Rg.otf");
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro 65 Medium";
  src: url("fonts/NHaasGroteskDSPro-65Md.otf");
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro 75 Bold";
  src: url("fonts/NHaasGroteskDSPro-75Bd.otf");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Neue Haas Grotesk Display Pro 65 Medium";
}

.link {
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  color: #dcf0dc;
}

/* Body */
.alert {
  color: #fff;
  background-color: #107cc0;
}

.header {
  color: #fff;
  background-color: #102040;
}

.news {
  color: #102040;
}

.headline {
  font-size: 18px;
  color: #208820;
}

.preview {
  color: #50647c;
}
